div.Welcome{

}

#welcome-area{
   
}

div.welcome-cta{
    top:60px;
}

div.welcome-content{
    padding-top: 8rem;
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
    margin: 0 auto!important;
    float: none!important;
}

h1.header-text{
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: 1.4px;
    margin-bottom: 30px;
    color: #fff;
    text-align: left;
}

p.header-text{
    font-weight: 400;
    font-size: 17px;
    color: #fff;
    line-height: 30px;
    letter-spacing: 0.25px;
    
    position: relative;
    text-align: left;
}


btn.welcome-button{
    margin-top: 40px!important;
    position:absolute;
    font-size: 13px;
    border-radius: 20px;
    padding: 6px 20px;
    background-color: #f55858;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.25px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

@media (max-width: 991px){
    h1.header-text{
        font-size: 36px;
        line-height: 50px;
        color: #fff;
        margin-bottom: 15px;
    }

   .welcome-text img{
        margin-top:35px;
    }
    
}

@media (max-width:768px){
    h1.header-text{
        text-align: center;
        font-weight: 600;
        font-size: 24px !important;
        line-height: 30px !important;
        margin-bottom: 20px !important;
    }

    p.header-text{
        text-align: center;
        color: #fff;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 40px;
    }
}